<h1>Todo List</h1>

<app-todo-add></app-todo-add>

<mat-form-field appearance="fill">
  <mat-label>Search for todo</mat-label>
  <input matInput [(ngModel)]="search" (keyup)="handleSearchChange()" />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Choose a before date</mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="before" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Choose an after date</mat-label>
  <input matInput [matDatepicker]="picker1" [(ngModel)]="after" />
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<button mat-raised-button color="primary" (click)="handleDateRange()">
  Valider
</button>

<table mat-table [dataSource]="todos" class="mat-elevation-z8">
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox class="example-margin"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.date | date: "dd-MM-yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-raised-button color="warn" (click)="delete(row)">
        DELETE
      </button>
    </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
