<form [formGroup]="taskForm" (ngSubmit)="addTask()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <!-- <input type="text" formControlName="name" placeholder="name" /> <br /> -->
  <br />

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" />
  </mat-form-field>

  <!-- <input type="text" formControlName="description" placeholder="description" /> -->
  <br />

  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker1" formControlName="date" />
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <!-- <input type="date" formControlName="date" placeholder="date" /> <br /> -->
  <br />
  <button mat-raised-button color="primary" type="submit">Add new task</button>
</form>
